body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

}

.card{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    width: 270px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    margin-top: 100px;
}

.header{
    font-weight: 700;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    margin-top: 15px;
}

.subtext{
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.qr{
    width: 270px; 
    text-align: center;
    border-radius: 15px;
    padding-bottom: 0;
}
